body {
    margin: 0;
    padding: 0;
}

table {
    margin: 3% auto 0 auto;
    width: 60vw;
}

table, th, td, tr {
    border-collapse: collapse;
    border: 1px solid black;
}


#id{
    min-width: 5vw;
    max-width: 5vw; 
    display: flex;
    justify-content: space-evenly;
    border: none;
    margin: 0 auto;
}

td {
    min-width: 12vw;
    max-width: 12vw; 
}

input, select {
    max-width: 95%;
    min-height: 1.5em;
    max-height: 1.5em;
}
.cancel { 
    min-width: 5vw;
    min-height: 1.5em;
    max-height: 1.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}

*.fa-trash:hover , *.fa-edit:hover, *.fa-times:hover {
    cursor: pointer;
}

#topbar {
    height: 3em;
    background-color: gray;
}

#topbarList {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
}



#topbarList li {
    width: 20%;
    height: 80%;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0.3em 0 0.3em;
}

#topbarList li:hover {
    cursor: pointer;
}

#filters {
    display: block;
    min-height: 5vh;
    width: 61vw;
    margin: 3% auto 3% auto;
    overflow: auto;
    background-color: blanchedalmond;
}

#filterTable {
    border: none;
}

.date, #dateFilter {        
    width: 20%;
}

#dateFilter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none
}

.category, #categoryFilter {
    width: 40%;
}

.categCol {
    width: 50%;
    float: left;
}

#maxValueSpan, #minValueSpan {
    display: inline-block;
    width: 50%;
    position: relative;
    margin: 10% 0 0 0;
}


#minAmount, #maxAmount {
    width: 88%;
    float: left;
    border: 0;
    padding: 0 10% 0 1%;
    border: 1px solid black;
}

#maxValueSpan:after, #minValueSpan:after {
    position: absolute;
    color: black;    
    top: 10%;
    content:"€";
    right: 3%;
}

.noUi-target.noUi-ltr.noUi-horizontal.noUi-background {
    width: 90%;
    margin: 0 auto;
}


#submitContainer {
    width: 100%;
    /* display: flex;
    justify-content: center; */  
    text-align: center;  
    margin: 2% auto 2% auto; 
    
}

#submitContainer button {
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  #submitContainer button:hover {
    background-color: #4CAF50;
    color: white;
  }

  .hidden *{
    display: none;
  }

  #filters h2{
    display: block;
    text-align: center;

}

.fa-angle-down, .fa-angle-up{
    float: right;
    margin-right: 5%;
}

.fa-angle-down:hover, .fa-angle-up:hover{
    cursor: pointer;
}
